<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PE.Properties.Settings>
            <setting name="dcCalDate" serializeAs="String">
                <value>21/07/2021</value>
            </setting>
            <setting name="dcDueDate" serializeAs="String">
                <value>20/07/2022</value>
            </setting>
            <setting name="dmmCalDate" serializeAs="String">
                <value>01/02/2021</value>
            </setting>
            <setting name="dmmDueDate" serializeAs="String">
                <value>31/01/2022</value>
            </setting>
        </PE.Properties.Settings>
    </userSettings>
</configuration>